<div class="producto-container">
  <%# Mostrar imagen del producto o un placeholder si no tiene %>
  <% if producto.imagen.attached? %>
    <%= image_tag producto.imagen, alt: producto.nombre, class: "producto-imagen" %>
  <% end %>

  <div class="producto-detalles">
    <h2 class="producto-nombre"><%= producto.nombre %></h2>
    <p class="producto-precio">$ <%= number_to_currency(producto.precio) %></p>
    <% if context == :index %>
      <%= link_to "Ver más", producto_path(producto), class: "btn btn-primary" %>
    <% elsif context == :show %>
      <p class="producto-descripcion"><%= producto.descripcion %></p>
    <% end %>
  </div>
</div>
