<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Categoria</th>
    <th>Talle</th>
    <th>Color</th>
  </tr>
  <tr>
    <td><%= producto.nombre %></td>
    <td><%= producto.descripcion %></td>

    <td><%= producto.precio %></td>
    <td><%= producto.stock %></td>
    <td><%= producto.categoria %></td>
    <td><%= producto.talle %></td>
    <td><%= producto.color %></td>
  </tr>
</table>

