<h1>Lista de Productos</h1>
<% if logged_in? %>
  <%= link_to 'Agregar Producto', new_producto_path, class: "btn btn-primary" %>
<%end%>
<div class="productos-lista">
  <% @productos.each do |producto| %>
    <div class="producto-item">
      <%# Mostrar imagen del producto o un placeholder si no tiene %>
      <% if producto.imagen.attached? %>
        <%= image_tag producto.imagen, alt: producto.nombre, class: "producto-imagen" %>
      <%else%>
        <%= image_tag "placeholder.png", alt: producto.nombre, class: "producto-imagen" %>
      <% end %>

      <h2 class="producto-nombre"><%= producto.nombre %></h2>
      <%= link_to "Ver más", producto_path(producto), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
