<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nombre:</strong>
    <%= usuario.nombre %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= usuario.email %>
  </p>

  <p> 
    <strong>Contraseña:</strong>
    <%= usuario.contrasena%>

  </p>

  <p>
    <strong>Telefono:</strong>
    <%= usuario.telefono %>
  </p>

  <p>
    <strong>Fecha ingreso:</strong>
    <%= usuario.fecha_ingreso %>
  </p>

</div>
